MONGODB_USER=<username>
MONGODB_PASSWORD=<password>
MONGODB_HOST=<cluster>.mongodb.net
MONGODB_APP_NAME=trustSplitTrackerPayment
DB_NAME=trust_split
FRONTEND_URL=http://localhost:7777
PORT=7776

# Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_DAYS=90
